$red: #f44336;
$red-light: #f44336;

$green-1: #4caf50;
$green-2: #69F0AE;
$green-3: linear-gradient(60deg,#66bb6a,#43a047);

$yellow-1: #fb8c00;
$yellow-2: #FDD835;

$blue-1: #0288D1;
$blue-2: #00bcd4;

$white: #fff;

$grey: #3c4858;
$grey-2: #3c4858;
