nav.navbar{
	//width: calc(100% - 300px);
	//margin-left: 300px;
	padding: 20px 0;
	box-sizing: border-box;
	ul{
		display: flex;
		li.page-title{
			margin-right: auto;
			font-size: 24px;
		}
		li.user-profile{
			height: 40px;
			width: 40px;
			border-radius: 50%;
			background: $blue-1;
			font-size: 20px;
			font-weight: bold;
			line-height: 40px;
			text-align: center;
			cursor: pointer;
			color: #ffffff;
			position: relative;
			&:hover{
				&{
					ul{
						display: block;
					}
				}
			}
			ul{
				position: absolute;
				display: none;
				z-index: 99;
				left: -150px;
				width: 200px;
				background: #ffffff;
				border-radius: 4px;
				li{
					padding: 5px;
					height: 30px;
					border-bottom: 1px solid #ddd;
					line-height: 30px;
					&:hover{
						a{
							font-weight: bold;
						}
						button{
							font-weight: bold;
						}
					}
					a{
						text-decoration: none;
						color: black;
						font-size: 14px;
						font-weight: normal;
					}
					button{
						border: none;
						width: 100%;
						height: 30px;
						background: transparent;
						display: inline-block;
						cursor: pointer;
					}
				}
				//display: none;
			}
		}
	}
}
