@mixin menu-active{
  padding: 5px 10px;
  background: $blue-2;
  box-shadow: 0 4px 20px 0 rgb(0 0 0 / 14%), 0 7px 10px -5px rgb(0 188 212 / 40%);
  margin-bottom: 10px;
  border-radius: 4px;
  height: 40px;
  color: $white;
}
.container{
  position: relative;
  width: 100%;
  min-height: 100vh;
  aside{
    position: fixed;
    width: 300px;
    top: 0;
    left: 0;
    height: 100%;
    box-shadow: 0 16px 38px -12px rgb(0 0 0 / 56%), 0 4px 25px 0 rgb(0 0 0 / 12%), 0 8px 10px -5px rgb(0 0 0 / 20%);
    ul{
      padding: 10px;
      li{
        padding: 5px 10px;
        margin-bottom: 10px;
        border-radius: 4px;
        height: 40px;
        display: flex;
        align-items: center;
        &.brand{
          text-align: center;
          height: 60px;
          line-height: 60px;
          margin-bottom: 30px;
          border-bottom: 1px solid rgba(180,180,180,.3);
          border-radius: 0;
          .icon{
            font-size: 30px;
            color: $red-light;
          }
          .title{
            font-size: 28px;
          }
        }
        &.sidebar-item{
          &.active{
            @include menu-active;
          }
          &:not(.active):hover{
            background: rgba(200,200,200,.2);
            cursor: pointer;
          }
        }
        .icon{
          font-size: 24px;
          line-height: 40px;
          align-items: center;
          margin-right: 5px;
          display: block;
          margin-top: 5px;
        }
      }
    }
  }
}
