.wrap-table{
  box-shadow: 0 1px 4px 0 rgb(0 0 0 / 14%);
  border-radius: 4px;
  background: $white;
  height: 100%;
  padding: 15px;
  padding-top: 50px;
  padding-bottom: 30px;
  width: 100%;
  box-sizing: border-box;
  .wrap-search{
    display: flex;
    justify-content: space-between;
  }
  .table{
    border-collapse: collapse;
    width: 100%;
    color: $grey-2;
    thead{
      th{
        padding: 5px;
        text-align: left;
        font-weight: 300;
        font-size: 18px;
        color: $grey-2;
        height: 60px;
      }
    }
    tbody{
      tr{
        min-height: 60px;
        height: 60px;
        transition: 0.3s linear;
        td{
          padding: 5px;
          min-height: 60px;
        }
        border-bottom: 1px solid #ddd;
        &:nth-child(odd){
          background: #f9f9f9;
        }
        &:hover{
          background: rgba(0,0,0,.075);
        }
      }
    }
  }
}
